aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.6.2.post1
attrs==24.2.0
Authlib==1.3.1
azure-core==1.32.0
azure-identity==1.19.0
beautifulsoup4==4.12.3
blinker==1.9.0
Bottleneck==1.5.0
build==1.2.2.post1
CacheControl==0.14.3
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
cryptography==43.0.3
dataclasses-json==0.6.7
defusedxml==0.7.1
Deprecated==1.2.15
dirtyjson==1.0.8
distlib==0.3.9
distro==1.9.0
docstring_parser==0.16
dulwich==0.22.8
fastjsonschema==2.21.1
filelock==3.18.0
filetype==1.2.0
findpython==0.6.3
fonttools==4.58.4
fpdf==1.7.2
fpdf2==2.8.3
frozenlist==1.5.0
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0
google-api-python-client==2.174.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.101.0
google-cloud-bigquery==3.34.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.2.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpc-google-iam-v1==0.14.2
grpcio==1.68.0
grpcio-health-checking==1.68.0
grpcio-status==1.68.0
grpcio-tools==1.68.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.1
idna==3.10
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.67
langchain-experimental==0.3.4
langchain-google-vertexai==2.0.27
langchain-text-splitters==0.3.8
langsmith==0.4.4
llama-cloud==0.1.5
llama-index==0.12.2
llama-index-agent-openai==0.4.0
llama-index-cli==0.4.0
llama-index-core==0.12.2
llama-index-embeddings-azure-openai==0.3.0
llama-index-embeddings-openai==0.3.0
llama-index-indices-managed-llama-cloud==0.6.2
llama-index-legacy==0.9.48.post4
llama-index-llms-azure-openai==0.3.0
llama-index-llms-openai==0.3.2
llama-index-multi-modal-llms-openai==0.3.0
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.0
llama-index-readers-llama-parse==0.4.0
llama-index-vector-stores-weaviate==1.2.0
llama-parse==0.5.15
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
mdurl==0.1.2
more-itertools==10.7.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.14.2
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numexpr==2.11.0
numpy==2.1.3
openai==1.55.1
orjson==3.10.18
packaging==24.2
pandas==2.2.3
pbs-installer==2025.6.4
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.0.0
pkginfo==1.12.1.2
platformdirs==4.3.8
poetry==2.1.3
poetry-core==2.1.3
portalocker==2.10.1
propcache==0.2.0
proto-plus==1.26.1
protobuf==5.28.3
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.10.1
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.10.0
PyMuPDF==1.26.0
pyparsing==3.2.3
pypdf==5.1.0
pypdfium2==4.30.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.13.0
referencing==0.35.1
regex==2024.11.6
reportlab==4.4.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.21.0
rsa==4.9.1
setuptools==75.6.0
shapely==2.1.1
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
streamlit==1.40.1
striprtf==0.0.26
tenacity==8.5.0
tiktoken==0.8.0
toml==0.10.2
tomlkit==0.13.3
tornado==6.4.2
tqdm==4.67.1
trove-classifiers==2025.5.9.12
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.2.0
urllib3==2.2.3
validators==0.34.0
virtualenv==20.31.2
weaviate-client==4.9.4
websockets==14.2
wrapt==1.17.0
xattr==1.1.4
yarl==1.18.0
zstandard==0.23.0
